
IAD-007-Redes_Deep-Learning_e_Plataformas_de_Desenvolvimento_I/Trabalhos Resolvidos/.ipynb_checkpoints/Untitled-checkpoint.ipynb
IAD-007-Redes_Deep-Learning_e_Plataformas_de_Desenvolvimento_I/Trabalhos Resolvidos/.ipynb_checkpoints/Untitled-checkpoint.ipynb
