
IAD-007-Redes_Deep-Learning_e_Plataformas_de_Desenvolvimento_I/Trabalhos Resolvidos/.ipynb_checkpoints/Untitled-checkpoint.ipynb
IAD-007-Redes_Deep-Learning_e_Plataformas_de_Desenvolvimento_I/Trabalhos Resolvidos/.ipynb_checkpoints/Untitled-checkpoint.ipynb
IAD-007-Redes_Deep-Learning_e_Plataformas_de_Desenvolvimento_I/Trabalhos Resolvidos/.ipynb_checkpoints/T5_Classificacao_multiclasse-checkpoint.ipynb
IAD-009-Redes_Neurais_Convolutivas_e_Visão_Computacional/Trabalhos Resolvidos/.ipynb_checkpoints/T3_Redes_complexas-checkpoint.ipynb
IAD-009-Redes_Neurais_Convolutivas_e_Visão_Computacional/Trabalhos Resolvidos/.ipynb_checkpoints/A6_Redes_complexas-checkpoint.ipynb
IAD-009-Redes_Neurais_Convolutivas_e_Visão_Computacional/Trabalhos Resolvidos/data64.h5
IAD-009-Redes_Neurais_Convolutivas_e_Visão_Computacional/Trabalhos Resolvidos/Figuras_aula6.zip
IAD-008-Redes_Deep-Learning_e_Plataformas_de_Desenvolvimento_2/Trabalhos Resolvidos/Trabalho4/.ipynb_checkpoints/T4_Processamento_dados_pandas-checkpoint.ipynb
.ipynb_checkpoints
*.html
IAD-011-Aprendizado_por_Reforco/Reinforcement Learning - An Introduction - Richard Sutton and Andrew G. Barto.pdf
IAD-010-Redes_Neurais_Recorrentes_e_Processamento_de_Linguagem_Natural/Trabalhos Resolvidos/Trabalho-4/Classificacao_Multiclasses.zip
*.tgz
IAD-012-Topicos_Avancados_em_Deep_Learning/Trabalhos_Resolvidos/Trabalho3/data/
IAD-012-Topicos_Avancados_em_Deep_Learning/Trabalhos_Resolvidos/Trabalho3/models/
IAD-012-Topicos_Avancados_em_Deep_Learning/Trabalhos_Resolvidos/Trabalho3/Trabalho3.zip
