
IAD-007-Redes_Deep-Learning_e_Plataformas_de_Desenvolvimento_I/Trabalhos Resolvidos/.ipynb_checkpoints/Untitled-checkpoint.ipynb
IAD-007-Redes_Deep-Learning_e_Plataformas_de_Desenvolvimento_I/Trabalhos Resolvidos/.ipynb_checkpoints/Untitled-checkpoint.ipynb
IAD-007-Redes_Deep-Learning_e_Plataformas_de_Desenvolvimento_I/Trabalhos Resolvidos/.ipynb_checkpoints/T5_Classificacao_multiclasse-checkpoint.ipynb
IAD-009-Redes_Neurais_Convolutivas_e_Visão_Computacional/Trabalhos Resolvidos/.ipynb_checkpoints/T3_Redes_complexas-checkpoint.ipynb
IAD-009-Redes_Neurais_Convolutivas_e_Visão_Computacional/Trabalhos Resolvidos/.ipynb_checkpoints/A6_Redes_complexas-checkpoint.ipynb
IAD-009-Redes_Neurais_Convolutivas_e_Visão_Computacional/Trabalhos Resolvidos/data64.h5
IAD-009-Redes_Neurais_Convolutivas_e_Visão_Computacional/Trabalhos Resolvidos/Figuras_aula6.zip
IAD-008-Redes_Deep-Learning_e_Plataformas_de_Desenvolvimento_2/Trabalhos Resolvidos/Trabalho4/.ipynb_checkpoints/T4_Processamento_dados_pandas-checkpoint.ipynb
*.ipynb_checkpoints
*.html